version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "monthly"
    reviewers:
      - "caitlon"
    assignees:
      - "caitlon"
    labels:
      - "dependencies"
      - "area:core"
    groups:
      python-deps:
        patterns:
          - "*"

  - package-ecosystem: "npm"
    directory: "/frontend"
    schedule:
      interval: "monthly"
    reviewers:
      - "caitlon"
    assignees:
      - "caitlon"
    labels:
      - "dependencies"
      - "area:frontend"
    groups:
      npm-minor-patch:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"
      npm-major:
        patterns:
          - "*"
        update-types:
          - "major"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    reviewers:
      - "caitlon"
    assignees:
      - "caitlon"
    labels:
      - "dependencies"
      - "area:infra"
    groups:
      github-actions:
        patterns:
          - "*"
