version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"
    reviewers:
      - "caitlon"
    assignees:
      - "caitlon"
    labels:
      - "dependencies"
    groups:
      python-deps:
        patterns:
          - "*"

  - package-ecosystem: "npm"
    directory: "/frontend"
    schedule:
      interval: "weekly"
    reviewers:
      - "caitlon"
    assignees:
      - "caitlon"
    labels:
      - "dependencies"
    groups:
      npm-minor-patch:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"
      npm-major:
        patterns:
          - "*"
        update-types:
          - "major"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    reviewers:
      - "caitlon"
    assignees:
      - "caitlon"
    labels:
      - "dependencies"
    groups:
      github-actions:
        patterns:
          - "*"
