Functional Requirements:
1. Пользователи и роли:
    У пользователя есть свой акканут и он может выступать в разных проектах как эксперт или как администратор
    - Администратор проекта:
        - Может создавать проекты и их описания
        - Может редактировать проекты и их описания
        - Может удалять проекты и их описания
        - Может добавлять экспертов в проекты по ссылке
        - Может удалять экспертов из проектов
        - Может добавлять свое мнение в проекты
        - Может редактировать свое мнение в проектах
        - Может удалять свое мнение из проектов
        - Может просматривать список проектов, где он является администратором и их описания
        - Может просматривать список экспертов и их мнения в каждом проекте, где он является администратором
        - При создании проекта он указывает свою позицию на работе, например Senior Data Scientist, CTO, etc.
    - Эксперт:
        - Может просматривать список проектов, где он является экспертом и их задачи
        - Может просматривать список экспертов и их мнения в каждом проекте, где он является экспертом
        - Может добавлять свое мнение в проекты, где он является экспертом
        - Может редактировать свое мнение в проектах, где он является экспертом
        - Может удалять свое мнение из проектов, где он является экспертом
        - Может участвовать в разных проектах как эксперт
        - При добавлении в проект он указывает свою позицию на работе, например Senior Data Scientist, CTO, etc.

2. Проекты и расчеты:
    - Проект - это проблема, к которой нужно найти компромиссное решение
    - Проект имеет несколько экспертов
    - Проект имеет только одного администратора
    - Проект имеет только одну задачу
    - Проект имеет несколько мнений экспертов
    - Проект имеет только одно компромиссное решение
    - На странице проекта есть описание проекта, список экспертов и список мнений экспертов
    - На странице проекта эксперты и администратор добавляют свое мнение в проект в виде треугольного числа в таблицу, которая имеет 3 столбца: "Оптимистическое", "Наиболее вероятное" и "Пессимистическое". Для кажого эксперта и администратора создается отдельная строка в таблице.
    - Расчет компромиссного решения производится по методу BeCoMe (Best Compromise Mean)
    - Расчет компросса происходит в реальном времени и отображается на странице проекта после добавления хотя бы одного мнения эксперта или администратора 
    - Компромиссное решение видно всем участникам проекта

3. Жизненный цикл данных:     
    - Послее введения мнения участника проекта автоматически сохранятся в базу данных его мнение
    - Расчет компромиссного решения производится автоматически считывая все мнения участников проекта из базы данных
    - Данные о проекте, его описание, экспертах, мнениях и компромиссном решении сохраняются в базу данных
    - После изменения своего мнения автоматически сохранятся в базу данных новое мнение учатсника проекта, при этом прошлое мнение удаляется из базы данных
    - После изменения своего мнения автоматически производится перерасчет компромиссного решения

4. Регистрация и авторизация:
    - Пользователь может зарегистрироваться в системе используя email и пароль
    - Пользователь может авторизоваться в системе используя email и пароль
    - Пользователь может выйти из системы
    - Пользователь может сбросить пароль используя email
    - Пользователь при входе в систему видит страницу с предложением зарегистрироваться в системе и описанием системы и кнопкой "Зарегистрироваться". Также есть кнопка "Войти" и ссылка "Забыли пароль?". Также есть кнопка с указанием примеров использования системы на примерах use cases.
    - После нажания кнопки "Зарегистрироваться" пользователь попадает на страницу регистрации с формой для ввода имени, фамилии, email и пароля.
    - После нажания кнопки "Войти" пользователь попадает на страницу авторизации с формой для ввода email и пароля.
    - После регистрации и входа пользователь попадает на страницу с предложением создать новый проект и со списком своих проектов.


Non-Functional Requirements:
1. Availability:
    - Система должна быть доступна 99.9% времени (можно и меньше от 90%)
    - Система должна быть абсолютно надежной и никакие данные не должны быть потеряны или повреждены
    - Нам важнее гарантия учета последних изменений в данных, чем скорость работы системы
    - Задержка в обработке данных не должна превышать 1 секунду (ну я четсно хз тут какие цифры реалистичны и адекватны)
    - Задержка в отображении данных не должна превышать 1 секунду (ну я четсно хз тут какие цифры реалистичны и адекватны)
    - Система должна быть доступна на всех браузерах
    - Система должна быть доступна для старта на английском языке

2. Performance:
    - Пользователь должен получать результат расчета после ввода всех данных мгновенно (<1 секунды)
    - Страницы сайта должны загружаться стандартно < 2-3 секунд, в идеале <= 1 секунду

3. Scalability:
    - Cистема должна быть готовой к резкому росту числа пользователей, например, если о ней напишут в СМИ.
    - Как система должна справляться с проектами, в которых не 10, а 1000 экспертов? Вот это я хз.

4. Security:
    - Данные, которые вводят эксперты в проекты конфиденциальны. (хз как тут это шифровать)
    - Думаю, что стоит шифровать пароли пользователей в базе данных.
    - Должна быть защита от SQL инъекций и XSS атак.
    - Аутентификация будет происходить при помощи Логин/пароль 
    
        
